 /* Card  */
 #card_container{
display: grid;
grid-template-columns: repeat(2,1fr);    
/* grid-gap: 5rem;  */
}
 .card {
    border: none;
    border-radius: 10px;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#col_card{
    border-color: #a5aec0;
    border-radius: 5px;
}
.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}