/* font/header/footer  */
@import 'https://fonts.googleapis.com/css?family=Kanit&display=swap';

body {
    font-family: 'Kanit', sans-serif;
    background: #000000;
}


.container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;

}

h1 {
  font-weight: 900;
  /* text-align: center; */
}

h3 {
  font-weight: 300;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.container:hover .flap::after {
  transform: translatex(300px);
}

.container:hover .flap::before{
  transform: translatex(-300px);
}
#navbarDropdown{
  color: #ffffff;
  width: auto;
  border-radius: 5px;
}
#navbarDropdown:hover{
  color: #000000;
  background-color: #ffae00;
}
#profile_btn:hover{
  background-color: #00ff04;
  }

#edit_btn:hover{
  background-color: #ffae00;
  }
#logout_btn:hover{
background-color: red;
}